.login-container {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  background-color: #f6f8fa;
  padding: 30px;
}
