.bg-vdo {
  width: 100%;
  height: 90vh;
}

.back-btn {
  padding: 12px 60px;
  background-color: rgba(82, 20, 122, 0.904);
  color: white;
  border: none;
  border-radius: 5px;
}

.not-link {
  text-decoration: none;
  color: white;
}
.not-link:hover {
  color: white;
}
