.form-container {
  margin-right: 10%;
  margin-left: 10%;
  color: #fff;
  padding: 50px;
  background-color: rgb(51, 51, 51);
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  max-width: 1400px;
}

.login-error {
  color: red;
  font-size: 1.5rem;
  font-weight: 500;
}
.login-success {
  color: green;
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (min-width: 521px) and (max-width: 768px) {
  /* .form-container {
    margin-right: 5%;
    margin-left: 5%;
  } */
}

@media only screen and (max-width: 520px) {
  .form-container {
    margin-right: 10%;
    margin-left: 10%;
  }
}
